@charset "UTF-8";
html,body{height:100%}
body,form,ul,ol,table,input,button,p,h1,h2,h3,h4,h5,h6,blockquote,pre,dl,dt,dd,div,span,b,i{margin:0;padding:0;-webkit-tap-highlight-color:transparent}
body{color:#222;background-color:#fff;font-size:14px;word-wrap:break-word;line-height:1em}
h1{font-size:2.25em;font-weight:200}
h2{font-size:1.75em;font-weight:200}
h3{font-size:1.5em;font-weight:200}
h4{font-size:1.2em;font-weight:200}
h5{font-size:1.0em;font-weight:200}
h6{font-size:.8em;font-weight:200}
button::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=submit]::-moz-focus-inner{padding:0;outline:0;border:0}
input,select,textarea,button,body,code{font-family:"Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif}
table{border-collapse:collapse;border-spacing:0}
img{border:0;vertical-align:top}
a{color:#136ec2;text-decoration:none;outline:0}
a[data-href]{cursor:pointer}
a:active{background-color:transparent}
button:focus,input:focus{outline:0}
embed,embed:focus{outline:0}
pan,span:focus{outline:0}
input,textarea{outline:0}
textarea{overflow-y:auto}
textarea:disabled,input:not([type]):disabled,input[type=color]:disabled,input[type=date]:disabled,input[type=datetime]:disabled,input[type=datetime-local]:disabled,input[type=email]:disabled,input[type=month]:disabled,input[type=password]:disabled,input[type=number]:disabled,input[type=search]:disabled,input[type=tel]:disabled,input[type=text]:disabled,input[type=time]:disabled,input[type=url]:disabled,input[type=week]:disabled{background-color:#ebebe4}
input:disabled,textarea:disabled{color:#545454}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.pull-right{float:right}
.pull-left{float:left}

.text-lg{font-size: 18px}
.text-md{font-size: 16px}
.text-sm{font-size: 13px}
.text-xs{font-size: 12px}
.text-active,
.active > .text,
.active > .auto .text {
  display: none !important;
}
.active > .text-active,
.active > .auto .text-active {
  display: inline-block !important;
}
.container{margin: 0 auto;}
.container.sm{max-width: 980px;}
.container.ml{max-width: 1200px;}

.ruler {
	display: none;
    min-width: 980px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 55px;
}
.ruler.ruler-active {display: block;}
.ruler .icon {margin-right: .4em;}
.ruler .ruler-head {
	min-width: 980px;
    height: 54px;
    line-height: 54px;
    padding: 0 .8em;
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 400;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}
.ruler .ruler-title {
	display: inline-block;
	font-size: 16px;
    height: 30px;
    line-height: 30px;
    color: #333;
}
.ruler .ruler-name {margin-right: 1em}
.ruler .ruler-left {
	position: absolute;
	left: 0;
	top: 55px;
	bottom: 0;
	z-index: 3001;
	width: 179px;
	border-right: 1px solid #eee;
	-webkit-transition-property: left;
    -webkit-transition-duration: .2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}
.ruler .nav-util {
	position: absolute;
	top: 50%;
	right: -14px;
}
.ruler-fullscreen-switch .open, 
.ruler-fullscreen-switch .close {
	display: inline-block;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: #5cb85c;
    border-radius: 50%;
    color: #fff;
    position: relative;
    font-size: 18px;
    vertical-align: top;
}
.ruler-fullscreen-switch .open:before,.ruler-fullscreen-switch .close:before{position:absolute;top:8px;right:0}
.ruler-fullscreen-switch .open:hover, .ruler-fullscreen-switch .close:hover {background-color:#449d44}
.ruler-fullscreen-switch .open{display:none;}
.ruler.ruler-fullscreen-active .ruler-left {left: -180px;}
.ruler.ruler-fullscreen-active .ruler-right {left: -0;}
.ruler.ruler-fullscreen-active .ruler-fullscreen-switch .open{display:inline-block}
.ruler.ruler-fullscreen-active .ruler-fullscreen-switch .close{display:none}

.ruler .nav-primary {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}
.nav-primary .nav > li.tag {
	padding: 5px 20px;
	font-size: 10px;
	color: #ccc;
}
.nav-primary .nav > li > a {
	position: relative;
	display: block;
	padding: 9px 20px;
	color: #666;
}
.nav-primary .nav > li > a:hover {	
	color: #136ec2;
	background-color: #f3f3f3;
}
.nav-primary .nav > li > a.clicked,
.nav-primary .nav > li > a.clicked:hover {	
	color: #136ec2;
	background-color: #e6e6e6;
}
.nav-primary .nav > li > .nav {display: none;}
.nav-primary li > a > i {
	position: relative;
	margin: -9px -10px;
	line-height: 32px;
	width: 32px;
	float: left;
	margin-right: 5px;
	text-align: center;
	overflow: hidden;
}
.ruler .ruler-right {
	position: absolute;
	left: 180px;
	top: 55px;
	right: 0;
	bottom: 0;
	z-index: 300;
	overflow-y: auto;
}
